@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Poppins:wght@300;400;500&family=Roboto+Mono&family=Roboto:wght@100;300;700&family=Rubik&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
